.product-img {
    width: 6rem;
    height: 4rem;
    display: block;
    object-fit: contain;
}

.item {
    transition: box-shadow 0.5s ease-in-out;
    margin-bottom: 1rem;
    border-radius: 10px;
}

@media (max-width: 768px) {
    
    .font {
        font-size: 14px;
    }
   
}
