.navlink {
    display: flex;
    gap: 1rem;
    transition: all 0.5s ease-in-out;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 500;
}

nav a:hover, a.active {
    color: crimson;
}
